<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyKoch</title>

    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">

    <script src="./js/jquery.js"></script>
    
</head>
<body>
    <menu>
        <div class="menu-items ">
            <div class="menu-item menu-openner ">
                <img src="./icons/menu.png" alt="" srcset="">
            </div>

            
            <div class="menu-item">
                <a href="main.html">
                    <div class="menu-item-icon menu-item-active ">
                        <img src="./icons/home-active.png" alt="" srcset="">                        
                    </div>
                    <div class="text" style="color: #1C295D;">Home</div>
                </a>                
            </div>
            

            
            <div class="menu-item">
                <a href="workout.html">
                    <div class="menu-item-icon">
                        <div class="item-img"><img src="./icons/gym-inactive.png" alt="" srcset=""></div>                        
                    </div>
                    <div class="text" style="color: #7987A5;">Workout</div>
                </a>
                
            </div>
            
        
            
        </div>
    </menu>
    
    <div id="app" class="middle-section">
        <header>
            <div class="header-left-section"><div class="logo">MyKoch</div></div>

            <div class="header-right-section">
                <div class="search-container">
                    <div class="search-icon"><img src="./icons/search.png" alt="" srcset=""></div>
                    <input class="search" type="text" placeholder="Search">
                </div>
    
                <div class="settings-container">
                    <button class="settings-btn"><img src="./icons/setting.png" alt=""></button>
                </div>
            </div>            
        </header>
        
        <div class="workout-grounds-container" >            
            <div v-if="loading"><loader /></div>

            <div v-else class="workout-ground" v-for="workout in workouts">
                <a :id="workout.id" class="workout-ground-link" href="#">
                    <div class="workout-img" :style="'background-image:url(./images/workout/' + workout.id + '.jpg); background-size: cover'"></div>
                    <!-- <div class="workout-img" style="background-image: url('./images/workout/{{workout.id}}.jpg'); background-size: cover"></div> -->
                    <!-- <div class="workout-img" style="background-image: url(", v-bind:style="'./images/workout/{{workout.id}}.jpg'); background-size: cover" ></div> -->
                    <div class="workout-name">{{workout.title}}</div>
                    <div class="geolocation">
                        {{workout.geo}}
                    </div>
                </a>
            </div>

            <!-- <div class="workout-ground">
                <a id="workout-2" class="workout-ground-link" href="#">
                    <div class="workout-img" style="background-image: url('./images/workout/2.jpg'); background-size: cover"></div>
                    <div class="workout-name">Workout example</div>
                    <div class="geolocation">
                        Geo example
                    </div>
                </a>
            </div> -->
        </div>

    </div>

    <div class="preview-section">
        <div class="img-selector">
            
        </div>
    </div>
    <script src="./js/style.js"></script>
    <script type="module" src="./js/frontend.js"></script>
</body>
</html>