<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyKoch</title>

    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    
    <script type="module" src="./js/main.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=${process.env.api_key}&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <menu>
        <div class="menu-items ">
            <div class="menu-item menu-openner ">
                <img src="./icons/menu.png" alt="" srcset="">
            </div>

            
            <div class="menu-item">
                <a href="main.html">
                    <div class="menu-item-icon menu-item-active ">
                        <img src="./icons/home-active.png" alt="" srcset="">                        
                    </div>
                    <div class="text" style="color: #1C295D;">Home</div>
                </a>                
            </div>
            

            
            <div class="menu-item">
                <a href="workout.html">
                    <div class="menu-item-icon">
                        <div class="item-img"><img src="./icons/gym-inactive.png" alt="" srcset=""></div>                        
                    </div>
                    <div class="text" style="color: #7987A5;">Workout</div>
                </a>
                
            </div>
            
        
            
        </div>
    </menu>
    <div id="app" class="content">
        <div  class="middle-section">
            <header>
                <div class="header-left-section"><div class="logo">MyKoch</div></div>
    
                <div class="header-right-section">
                    <div class="search-container">
                        <div class="search-icon"><img src="./icons/search.png" alt="" srcset=""></div>
                        <input class="search" type="text" placeholder="Search">
                    </div>
        
                    <div class="settings-container">
                        <button class="settings-btn"><img src="./icons/setting.png" alt=""></button>
                    </div>
                </div>            
            </header>
            
            <div class="workout-grounds-container" >            
                <!-- <div v-if="loading"><loader /></div> -->
    
                <div class="workout-ground" v-for="workout in workouts">
                    <div :id="workout.id" class="workout-ground-link"  v-on:click="showPreviewSection(workout)">
                        <div class="workout-img" :style="'background-image:url(./images/workout/' + workout.id + '.jpg); background-size: cover'"></div>
                        <!-- <div class="workout-img" style="background-image: url('./images/workout/{{workout.id}}.jpg'); background-size: cover"></div> -->
                        <!-- <div class="workout-img" style="background-image: url(", v-bind:style="'./images/workout/{{workout.id}}.jpg'); background-size: cover" ></div> -->
                        <div class="workout-name">{{workout.title}}</div>
                        <div class="geolocation">
                            {{workout.geo}}
                        </div>
                    </div>
                </div>  
            </div>
        </div>

        <div class="preview-section" v-if="previewSection">
            
            <div class="preview-content-wrapper">
                <div v_on:click="hidePreviewSection">X</div>
                <div class="workout-img"><img :src="'./images/workout/' + workout.id + '.jpg'" alt="" srcset=""></div>
                <div class="workout-name">{{workout.title}}</div>
                <div class="geolocation">
                    {{workout.geo}}
                </div>
                <details class="description">
                    <summary>Description</summary>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, corporis! Aut facere, numquam eius corrupti modi inventore dolorum non perferendis, natus quidem aperiam suscipit quam illum repellat quis cumque iusto?
                </details>

                <div id="map" class="map"></div>

                
            </div> 
            
        </div>
    </div>
    <!-- <script src="./js/style.js"></script> -->
    <script type="module" src="./js/frontend.js"></script>
    
</body>
</html>